body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
body a{
    color: #333;
    text-decoration: none;
}
#nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356);
}
#nav a{
    font-weight: bolder;
    color: white !important;
}
#navlink:hover  {
    text-shadow: 0 0 10px rgb(0, 0, 0) !important;
}
header{
    background-image: url("https://wallpapercave.com/wp/wp5085173.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local;
    color: black;
}

.banner{
    /* padding: 100px 0px 100px 0px; */
    padding: 12%;
    height: 100%;
    width: 100%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    animation: linear 0.5s;
    color: black;
}

.banner span{
    color: black;
    background-color: rgba(255, 255, 255, 0.51);
    padding: 5px;
    letter-spacing: 5px;
    margin: auto;

}
/* .banner::before {
    content: "";
    position: absolute;
    top: 8%;
    left: 0;
    height: 92%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
} */
.pcard{
    height: 450px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1.5);
    background-color: white;
    border-radius: 5px ;
    margin-bottom: 100px;

}

.pcard img{
    
    height: 280px;
    width: 100%;
    border-radius: 5px;
    transition: transform .5s; 
}
.pcard:hover img {
    transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.info{
    height:120px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;

    
}
.info p{

    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-top: 10px;
}
.title{
    
    text-align: center;
    font-size: 3em;
    letter-spacing: 5px;
    margin: 10px 0px 10px 0px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.discount{
    color: green;
    font-size: 0.8em;
}
.vtitle{

    position: absolute;
    font-size: 2em;
    background-color: #333;
    width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
}
.vtitle:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1.5);
    transform: scale(1.05);
}
.vtitle a{
    color: white;
    text-decoration: none;
}

.sidebar{
    height: 700px;
    margin-top: 5px;
    /* box-shadow:    0 4px 8px 0 rgba(0,0,0,1.5); */
}
@media (max-width: 767px) {
    .banner{
        padding: 100px 0px 100px 0px;
    }
    .sidebar {
        height: auto;
    }
}
.stitle{
    margin: 5px;
    font-size: 1.5em;
    height: 40px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2px;
    transition: all 0.2s ease-in;
}
#currentpage{
    background-color: #33333344;
    transform: scale(1.05);
    margin: 10px;
    font-weight: bold;
}
.stitle:hover{
    background-color: #33333344;
    transform: scale(1.05);
    margin: 10px;
    font-weight: bold;
}
#signout{
    position:sticky;


}
.footer{
    margin-top: 20px;
    background-color: black;
    padding: 20px;
}
.footer a{
    color: white;
    text-decoration: none;
}

.ftitle{
 
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: linear 0.5s;
}
.ftitle:hover{
  color: #f5f5f5;
  border-bottom: solid 2px #f5f5f5;
}
.pbox{
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1.5);
    border-radius: 5px;

}
@media (max-width: 767px) {
    .pbox{
        display: flex;
        flex-direction: column;
    }
    
}
.ptitle{
    color:gray;
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px auto ;
    width: 100%;
}
.pinfo{
    width: auto;
    flex-wrap: wrap;
    margin: 20px;
    padding: 5px;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: #f5f5f5;
}
.cart{
    /* width: 100%; */
    height: 100%;
    /* margin: 5px;
    padding: 20px; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1.5);
    border-radius: 5px;
}
.ctcard{
    /* width: 100%; */
    height: 100%;
    margin:10px auto;
    padding: 20px;
    color: black;
    box-shadow: 4px 0px 8px 0 rgba(0,0,0,0.5);
    border-bottom: solid 2px rgb(76, 76, 76,0.5);
}
.ctimg{
    width: 100%;
    height: 100%;
    /* margin: 10px; */
    background-color: white;
    border-radius: 5px;
}
.bill{
    width: 280px;
    height: 250px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1.5);
    border-radius: 5px;
}
.btitle{
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;

}
.btotal{
    width: 100%;
    height: 100%;
    margin: 2px;
    font-size: large;
    font-weight: bold;
}
.bbtn{
    width: 100%;
    height: 80%;
    margin: 10px auto;
    padding: 2px;
    font-size: large;
    font-weight: bold;
    background-color: #333;
    color: white;
    border-radius: 5px;
}
